{% for vhost in apache_vhosts %}
  {% if vhost.redirect is defined %}
    <VirtualHost *:{{ vhost.port }}>
      ServerName {{ vhost.servername }}
      Redirect permanent / {{ vhost.redirect }}
    </VirtualHost>
  {% else %}
    <VirtualHost *:{{ vhost.port }}>
      ServerAdmin {{ vhost.serveradmin }}
      ServerName {{ vhost.servername }}
      DocumentRoot {{ vhost.documentroot }}
      SetEnv APPLICATION_ENV {{ vhost.appenv }}

      <Directory {{ vhost.documentroot }}>
        Options -Indexes +FollowSymLinks -MultiViews
        AllowOverride all
        Require all granted
      </Directory>

      {% if vhost.port == 443 %}
      SSLEngine On
      SSLCertificateFile {{ vhost.certfile }}
      SSLCertificateKeyFile {{ vhost.keyfile }}
      SSLCertificateChainFile {{ vhost.chainfile }}
      {% endif %}
    </VirtualHost>
  {% endif %}

{% endfor %}
