[XDebug]
zend_extension="{{ php_extension_dir }}/xdebug.so"
xdebug.remote_enable="false"
xdebug.remote_connect_back="false"
xdebug.remote_host="localhost"
xdebug.remote_port="9000"
xdebug.remote_log="/tmp/xdebug.log"
xdebug.idekey="sublime.xdebug"